/hw8/WebApp/nbproject/private/
/hw8/WebApp/build/
/hw8/ConvertTemperature/nbproject/private/
/hw8/ConvertTemperature/build/
/hw8/WebDataBase/nbproject/private/
/hw8/WebDataBase/build/
/hw8/Web/nbproject/private/
/hw8/Database/nbproject/private/
/hw8/Web/build/
