/hw8/WebApp/nbproject/private/
/hw8/WebApp/build/
/hw8/ConvertTemperature/nbproject/private/
/hw8/ConvertTemperature/build/
/hw8/WebDataBase/nbproject/private/
/hw8/WebDataBase/build/
/hw8/Web/nbproject/private/
/hw8/Database/nbproject/private/
/hw8/Web/build/
/hw8/Web/dist/
/hw10/Circle/nbproject/private/
/hw10/Circle/build/
/hw10/Circle/dist/
/hw10/TestClientService/nbproject/private/
/hw10/TestClientService/build/
/hw10/Student/nbproject/private/
/hw10/Student/build/
/hw10/TestStudentService/nbproject/private/
/hw10/TestStudentService/build/
/New folder/TestStudentService/build/
/New folder/TestStudentService/nbproject/private/
